openapi: 3.1.1
info:
  contact:
    email: blake.rogan@outlook.com
    name: Blake Rogan
    url: https://github.com/Cethric
  description: ""
  license:
    name: MIT
  termsOfService: ""
  title: Nominatim Open API Spec
  version: 1.0.0
externalDocs:
  url: https://nominatim.org/release-docs/develop/api/
servers:
- description: Nominatim Server
  url: https://nominatim.openstreetmap.org
- description: GeoCoding Server
  url: https://nominatim.geocoding.ai
paths:
  /reverse:
    get:
      description: |
        # How it works
        The reverse geocoding API does not exactly compute the address for the coordinate it receives. It works by finding the closest suitable OSM object and returning its address information. This may occasionally lead to unexpected results.

        First of all, Nominatim only includes OSM objects in its index that are suitable for searching. Small, unnamed paths for example are missing from the database and can therefore not be used for reverse geocoding either.

        The other issue to be aware of is that the closest OSM object may not always have a similar enough address to the coordinate you were requesting. For example, in dense city areas it may belong to a completely different street.
      parameters:
      - description: Latitude of a coordinate in WGS84 projection
        explode: true
        in: query
        name: lat
        required: true
        schema:
          format: double
          maximum: 90
          minimum: -90
          type: number
        style: form
      - description: Longitude of a coordinate in WGS84 projection
        explode: true
        in: query
        name: lon
        required: true
        schema:
          format: double
          maximum: 180
          minimum: -180
          type: number
        style: form
      - explode: false
        in: query
        name: format
        required: false
        schema:
          $ref: '#/components/schemas/OutputFormat'
        style: simple
      - description: "When given, then JSON output will be wrapped in a callback function\
          \ with the given name. See JSONP for more \ninformation.  \n\nOnly has an\
          \ effect for JSON output formats.\n"
        explode: false
        in: query
        name: json_callback
        required: false
        schema:
          type: string
        style: simple
      - description: "When set to 1, include a breakdown of the address into elements.\
          \ The exact content of the address breakdown \ndepends on the output format.\n"
        explode: true
        in: query
        name: addressdetails
        required: false
        schema:
          $ref: '#/components/schemas/NumberBoolean'
        style: form
      - description: |
          When set to 1, the response include any additional information in the result that is available in the database, e.g. wikipedia link, opening hours.
        explode: true
        in: query
        name: extratags
        required: false
        schema:
          $ref: '#/components/schemas/NumberBoolean'
        style: form
      - description: |
          When set to 1, include a full list of names for the result. These may include language variants, older names, references and brand.
        explode: true
        in: query
        name: namedetails
        required: false
        schema:
          $ref: '#/components/schemas/NumberBoolean'
        style: form
      - description: |
          When set to 1, include the tagged entrances in the result.
        explode: true
        in: query
        name: entrances
        required: false
        schema:
          $ref: '#/components/schemas/NumberBoolean'
        style: form
      - description: |
          Preferred language order for showing search results. This may either be a simple comma-separated list of language codes or have the same format as the ["Accept-Language" HTTP header.](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language)
        explode: true
        in: query
        name: accept-language
        required: false
        schema:
          default: en
          type: string
        style: form
      - description: |
          Level of detail required for the address. This is a number that corresponds roughly to the zoom level used in XYZ tile sources in frameworks like Leaflet.js, Openlayers etc.
        explode: true
        in: query
        name: zoom
        required: false
        schema:
          $ref: '#/components/schemas/ZoomLevel'
        style: form
      - explode: true
        in: query
        name: layer
        required: false
        schema:
          $ref: '#/components/schemas/Layer'
        style: form
      - explode: true
        in: query
        name: polygon_geojson
        required: false
        schema:
          default: 0
          maximum: 1
          minimum: 0
          type: number
        style: form
      - explode: true
        in: query
        name: polygon_kml
        required: false
        schema:
          default: 0
          maximum: 1
          minimum: 0
          type: number
        style: form
      - explode: true
        in: query
        name: polygon_svg
        required: false
        schema:
          default: 0
          maximum: 1
          minimum: 0
          type: number
        style: form
      - explode: true
        in: query
        name: polygon_text
        required: false
        schema:
          default: 0
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: |
          When one of the polygon_* outputs is chosen, return a simplified version of the output geometry. The parameter describes the tolerance in degrees with which the geometry may differ from the original geometry. Topology is preserved in the geometry.
        explode: true
        in: query
        name: polygon_threshold
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: |
          If you are making large numbers of request please include an appropriate email address to identify your requests. See Nominatim's Usage Policy for more details.
        explode: true
        in: query
        name: email
        required: false
        schema:
          format: email
          type: string
        style: form
      - description: |
          Output assorted developer debug information. Data on internals of Nominatim's "search loop" logic, and SQL queries. The output is HTML format. This overrides the specified machine readable format.
        explode: true
        in: query
        name: debug
        required: false
        schema:
          default: 0
          maximum: 1
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseOutputJson'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReverseOutputXml'
          description: Successfully retrieve the current forecast
        default:
          content:
            application/json:
              schema:
                type: string
          description: Anything other than success is an error
      summary: Reverse geocoding generates an address from a coordinate given as latitude
        and longitude.
components:
  schemas:
    OutputFormat:
      enum:
      - xml
      - json
      - jsonv2
      - geojson
      - geocodejson
      type: string
    NumberBoolean:
      enum:
      - 0
      - 1
      format: int32
      maximum: 1
      minimum: 0
      type: integer
    Layer:
      enum:
      - address
      - poi
      - railway
      - natural
      - manmade
      type: string
    ZoomLevel:
      maximum: 18
      minimum: 0
      type: integer
    ReverseOutputJson:
      additionalProperties: true
      example: |
        {
          "display_name": "Australia",
        }
      properties:
        display_name:
          type: string
    ReverseOutputXml:
      example: |
        <reversegeocode timestamp="Sat, 20 Jul 2024 04:06:44 +00:00" attribution="Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright" querystring="lat=52.5487429714954&lon=-1.81602098644987&format=xml&zoom=18">
          <result place_id="241931941" osm_type="way" osm_id="88378435" lat="52.5486796" lon="-1.8157850" boundingbox="52.5485735,52.5487962,-1.8161646,-1.8154131" place_rank="30" address_rank="30">Pilkington Avenue, Maney, Sutton Coldfield, Birmingham, West Midlands Combined Authority, England, B72 1LH, United Kingdom</result>
          <addressparts>
            <road>Pilkington Avenue</road>
            <hamlet>Maney</hamlet>
            <town>Sutton Coldfield</town>
            <city>Birmingham</city>
            <ISO3166-2-lvl8>GB-BIR</ISO3166-2-lvl8>
            <state_district>West Midlands Combined Authority</state_district>
            <state>England</state>
            <ISO3166-2-lvl4>GB-ENG</ISO3166-2-lvl4>
            <postcode>B72 1LH</postcode>
            <country>United Kingdom</country>
            <country_code>gb</country_code>
          </addressparts>
        </reversegeocode>
      properties:
        timestamp:
          format: datetime
          type: string
          xml:
            attribute: true
        querystring:
          type: string
          xml:
            attribute: true
        attribution:
          type: string
          xml:
            attribute: true
        result:
          $ref: '#/components/schemas/ReverseOutputXml_result'
        addressparts:
          $ref: '#/components/schemas/ReverseOutputXml_addressparts'
      xml:
        name: reversegeocode
    ReverseOutputXml_result:
      allOf:
      - type: string
      - properties:
          place_id:
            type: number
            xml:
              attribute: true
          osm_type:
            type: string
            xml:
              attribute: true
          osm_id:
            type: number
            xml:
              attribute: true
          lat:
            format: float
            type: number
            xml:
              attribute: true
          lon:
            format: float
            type: number
            xml:
              attribute: true
          boundingbox:
            type: string
            xml:
              attribute: true
          place_rank:
            type: number
            xml:
              attribute: true
          address_rank:
            type: number
            xml:
              attribute: true
    ReverseOutputXml_addressparts:
      properties:
        house_number:
          type: string
        road:
          type: string
        village:
          type: string
        town:
          type: string
        city:
          type: string
        county:
          type: string
        postcode:
          type: string
        country:
          type: string
        country_code:
          type: string

