openapi: 3.1.1

info:
  title: "Nominatim Open API Spec"
  summary: "A custom Nominatim OpenAPI specification written by hand based of the api docs as of 2024-05-26"
  description: ""
  termsOfService: ""
  contact:
    name: "Blake Rogan"
    url: "https://github.com/Cethric"
    email: "blake.rogan@outlook.com"
  license:
    name: "MIT"
    identifier: "MIT"
  version: "1.0.0"

#$schema: "https://json-schema.org/draft/2020-12/schema"

servers:
  - url: "https://nominatim.openstreetmap.org"
    description: "Nominatim Server"
  - url: "https://nominatim.geocoding.ai"
    description: "GeoCoding Server"

paths:
  "/reverse.php":
    get:
      summary: "Reverse Geocoding"
      description: |
        Reverse geocoding generates an address from a coordinate given as latitude and longitude.
        
        # How it works
        
        The reverse geocoding API does not exactly compute the address for the coordinate it receives. It works by finding the closest suitable OSM object and returning its address information. This may occasionally lead to unexpected results.
        
        First of all, Nominatim only includes OSM objects in its index that are suitable for searching. Small, unnamed paths for example are missing from the database and can therefore not be used for reverse geocoding either.
        
        The other issue to be aware of is that the closest OSM object may not always have a similar enough address to the coordinate you were requesting. For example, in dense city areas it may belong to a completely different street."
      parameters:
        - name: lat
          in: query
          required: true
          description: "Latitude of a coordinate in WGS84 projection. The API returns exactly one result or an error when the coordinate is in an area with no OSM data coverage."
          schema:
            type: number
            format: double
        - name: lon
          in: query
          required: true
          description: "Longitude of a coordinate in WGS84 projection. The API returns exactly one result or an error when the coordinate is in an area with no OSM data coverage."
          schema:
            type: number
            format: double
        - name: format
          in: query
          required: false
          default: "xml"
          schema:
            $ref: "#/components/schemas/OutputFormat"
        - name: addressdetails
          in: query
          required: false
          description: "When set to 1, include a breakdown of the address into elements. The exact content of the address breakdown depends on the output format."
          default: 1
          schema:
            $ref: "#/components/schemas/NumberBoolean"
        - name: extratags
          in: query
          required: false
          description: "When set to 1, the response include any additional information in the result that is available in the database, e.g. wikipedia link, opening hours."
          default: 0
          schema:
            $ref: "#/components/schemas/NumberBoolean"
        - name: namedetails
          in: query
          required: false
          description: "When set to 1, include a full list of names for the result. These may include language variants, older names, references and brand."
          default: 0
          schema:
            $ref: "#/components/schemas/NumberBoolean"
        - name: accept-language
          in: query
          required: false
          description: |
            Preferred language order for showing search results. This may either be a simple comma-separated list of language codes or have the same format as the ["Accept-Language" HTTP header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language).
          default: 0
          schema:
            type: string
        - name: zoom
          in: query
          required: false
          description: "Level of detail required for the address. This is a number that corresponds roughly to the zoom level used in XYZ tile sources in frameworks like Leaflet.js, Openlayers etc."
          default: 18
          schema:
            type: number
            minimum: 0
            maximum: 18
        - name: layer
          in: query
          required: false
          description: |
            The layer filter allows to select places by themes.

            The `address` layer contains all places that make up an address: address points with house numbers, streets, inhabited places (suburbs, villages, cities, states etc.) and administrative boundaries.

            The `poi` layer selects all point of interest. This includes classic points of interest like restaurants, shops, hotels but also less obvious features like recycling bins, guideposts or benches.

            The `railway` layer includes railway infrastructure like tracks. Note that in Nominatim's standard configuration, only very few railway features are imported into the database.

            The `natural` layer collects features like rivers, lakes and mountains while the manmade layer functions as a catch-all for features not covered by the other layers.
          schema:
            $ref: "#/components/schemas/Layer"
        - name: polygon_geojson
          in: query
          required: false
          description: "Add the full geometry of the place to the result output. Output formats in GeoJSON, KML, SVG or WKT are supported."
          default: 0
          schema:
            $ref: "#/components/schemas/NumberBoolean"
        - name: polygon_kml
          in: query
          required: false
          description: "Add the full geometry of the place to the result output. Output formats in GeoJSON, KML, SVG or WKT are supported."
          default: 0
          schema:
            $ref: "#/components/schemas/NumberBoolean"
        - name: polygon_svg
          in: query
          required: false
          description: "Add the full geometry of the place to the result output. Output formats in GeoJSON, KML, SVG or WKT are supported."
          default: 0
          schema:
            $ref: "#/components/schemas/NumberBoolean"
        - name: polygon_text
          in: query
          required: false
          description: "Add the full geometry of the place to the result output. Output formats in GeoJSON, KML, SVG or WKT are supported."
          default: 0
          schema:
            $ref: "#/components/schemas/NumberBoolean"
        - name: polygon_threshold
          in: query
          required: false
          description: "When one of the polygon_* outputs is chosen, return a simplified version of the output geometry. The parameter describes the tolerance in degrees with which the geometry may differ from the original geometry. Topology is preserved in the geometry."
          default: 0.0
          schema:
            type: number
            format: float
        - name: email
          in: query
          required: false
          description: |
            If you are making large numbers of request please include an appropriate email address to identify your requests. See Nominatim's [Usage Policy](https://operations.osmfoundation.org/policies/nominatim/) for more details.
          schema:
            type: string
            format: email
        - name: debug
          in: query
          required: false
          description: |
            Output assorted developer debug information. Data on internals of Nominatim's "search loop" logic, and SQL queries. The output is HTML format. This overrides the specified machine readable format.
          default: 0
          schema:
            $ref: "#/components/schemas/NumberBoolean"
      
      responses:
        200:
          description: "Successfully retrieve the current forecast"
          content:
            "application/json":
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ReverseOutputJson"
                  - $ref: "#/components/schemas/ReverseOutputJsonV2"
                  - $ref: "#/components/schemas/ReverseOutputGeoJson"
                  - $ref: "#/components/schemas/ReverseOutputGeoCodeJson"
            "application/xml":
              schema:
                $ref: "#/components/schemas/ReverseOutputXml"
        default:
          description: "Anything other than success is an error"
          content:
            "application/json":
              schema:
                type: string

webhooks: { }
components:
  schemas:
    OutputFormat:
      type: string
      enum: [ "xml", "json", "jsonv2", "geojson", "geocodejson" ]
    NumberBoolean:
      type: number
      format: int32
      enum: [ 0, 1 ]
      minimum: 0
      maximum: 1
    Layer:
      type: string
      enum: [ "address", "poi", "railway", "natural", "manmade" ]
    ReverseOutputJsonBase:
      type: object
      properties:
        place_id:
          type: number
          format: int64
        licence:
          type: string
        osm_type:
          type: string
        osm_id:
          type: number
          format: int64
        lat:
          type: string
        lon:
          type: string
        place_rank:
          type: number
          format: int64
        type:
          type: string
        importance:
          type: number
          format: float
        addresstype:
          type: string
        display_name:
          type: string
        name:
          type: string
        address:
          type: object
          properties:
            road:
              type: string
            village:
              type: string
            state_district:
              type: string
            state:
              type: string
            postcode:
              type: string
            country:
              type: string
            country_code:
              type: string
        boundingbox:
          type: array
          items:
            type: string
            format: float
    
    ReverseOutputJson:
      allOf:
        - type: object
          properties:
            class:
              type: string
        - $ref: "#/components/schemas/ReverseOutputJsonBase"
      example: |
        {
            "place_id": 275915539,
            "licence": "Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright",
            "osm_type": "way",
            "osm_id": 88378435,
            "lat": "52.54867955",
            "lon": "-1.815784965131578",
            "class": "leisure",
            "type": "garden",
            "place_rank": 30,
            "importance": 0.00000999999999995449,
            "addresstype": "leisure",
            "name": "",
            "display_name": "Pilkington Avenue, Maney, Sutton Coldfield, Birmingham, West Midlands Combined Authority, England, B72 1LH, United Kingdom",
            "address": {
                "road": "Pilkington Avenue",
                "hamlet": "Maney",
                "town": "Sutton Coldfield",
                "city": "Birmingham",
                "ISO3166-2-lvl8": "GB-BIR",
                "state_district": "West Midlands Combined Authority",
                "state": "England",
                "ISO3166-2-lvl4": "GB-ENG",
                "postcode": "B72 1LH",
                "country": "United Kingdom",
                "country_code": "gb"
            },
            "boundingbox": [
                "52.5485735",
                "52.5487962",
                "-1.8161646",
                "-1.8154131"
            ]
        }
    ReverseOutputJsonV2:
      allOf:
        - type: object
          properties:
            category:
              type: string
        - $ref: "#/components/schemas/ReverseOutputJsonBase"
      example: |
        {
            "place_id": 275915539,
            "licence": "Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright",
            "osm_type": "way",
            "osm_id": 88378435,
            "lat": "52.54867955",
            "lon": "-1.815784965131578",
            "category": "leisure",
            "type": "garden",
            "place_rank": 30,
            "importance": 0.00000999999999995449,
            "addresstype": "leisure",
            "name": "",
            "display_name": "Pilkington Avenue, Maney, Sutton Coldfield, Birmingham, West Midlands Combined Authority, England, B72 1LH, United Kingdom",
            "address": {
                "road": "Pilkington Avenue",
                "hamlet": "Maney",
                "town": "Sutton Coldfield",
                "city": "Birmingham",
                "ISO3166-2-lvl8": "GB-BIR",
                "state_district": "West Midlands Combined Authority",
                "state": "England",
                "ISO3166-2-lvl4": "GB-ENG",
                "postcode": "B72 1LH",
                "country": "United Kingdom",
                "country_code": "gb"
            },
            "boundingbox": [
                "52.5485735",
                "52.5487962",
                "-1.8161646",
                "-1.8154131"
            ]
        }
    ReverseOutputGeoJson:
      type: object
      properties:
        type:
          type: string
        licence:
          type: string
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              properties:
                $ref: "#/components/schemas/ReverseOutputJsonV2"
              bbox:
                type: array
                items:
                  type: number
                  format: float
                example: |
                  [
                    -1.8161646,
                    52.5485735,
                    -1.8154131,
                    52.5487962
                  ]
              geometry:
                type: object
                properties:
                  type:
                    type: string
                  coordinates:
                    type: array
                    items:
                      type: number
                      format: float
      example: |
        {
            "type": "FeatureCollection",
            "licence": "Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright",
            "features": [
                {
                    "type": "Feature",
                    "properties": {
                        "place_id": 272613568,
                        "osm_type": "way",
                        "osm_id": 88378435,
                        "place_rank": 30,
                        "category": "leisure",
                        "type": "garden",
                        "importance": 0.00000999999999995449,
                        "addresstype": "leisure",
                        "name": "",
                        "display_name": "Pilkington Avenue, Maney, Sutton Coldfield, Birmingham, West Midlands Combined Authority, England, B72 1LH, United Kingdom",
                        "address": {
                            "road": "Pilkington Avenue",
                            "hamlet": "Maney",
                            "town": "Sutton Coldfield",
                            "city": "Birmingham",
                            "ISO3166-2-lvl8": "GB-BIR",
                            "state_district": "West Midlands Combined Authority",
                            "state": "England",
                            "ISO3166-2-lvl4": "GB-ENG",
                            "postcode": "B72 1LH",
                            "country": "United Kingdom",
                            "country_code": "gb"
                        }
                    },
                    "bbox": [
                        -1.8161646,
                        52.5485735,
                        -1.8154131,
                        52.5487962
                    ],
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -1.815784965131578,
                            52.54867955
                        ]
                    }
                }
            ]
        }
    ReverseOutputGeoCodeJson:
      type: object
      properties:
        type:
          type: string
        geocoding:
          type: object
          properties:
            version:
              type: string
            attribution:
              type: string
            licence:
              type: string
            query:
              type: string
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              properties:
                type: object
                properties:
                  geocoding:
                    type: object
                    properties:
                      place_id:
                        type: number
                      osm_type:
                        type: string
                      osm_id:
                        type: number
                      osm_key:
                        type: string
                      osm_value:
                        type: string
                      type:
                        type: string
                      accuracy:
                        type: number
                      label:
                        type: string
                      postcode:
                        type: string
                      street:
                        type: string
                      locality:
                        type: string
                      district:
                        type: string
                      city:
                        type: string
                      county:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                      admin:
                        type: object
                        properties:
                          level10:
                            type: string
                          level8:
                            type: string
                          level5:
                            type: string
                          level4:
                            type: string
              geometry:
                type: object
                properties:
                  type:
                    type: string
                  coordinates:
                    type: array
                    items:
                      type: number
                      format: float
      example: |
        {
            "type": "FeatureCollection",
            "geocoding": {
                "version": "0.1.0",
                "attribution": "Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright",
                "licence": "ODbL",
                "query": ""
            },
            "features": [
                {
                    "type": "Feature",
                    "properties": {
                        "geocoding": {
                            "place_id": 241931941,
                            "osm_type": "way",
                            "osm_id": 88378435,
                            "osm_key": "leisure",
                            "osm_value": "garden",
                            "type": "house",
                            "accuracy": 0,
                            "label": "Pilkington Avenue, Maney, Sutton Coldfield, Birmingham, West Midlands Combined Authority, England, B72 1LH, United Kingdom",
                            "postcode": "B72 1LH",
                            "street": "Pilkington Avenue",
                            "locality": "Maney",
                            "district": "Sutton Coldfield",
                            "city": "Birmingham",
                            "county": "West Midlands Combined Authority",
                            "state": "England",
                            "country": "United Kingdom",
                            "country_code": "gb",
                            "admin": {
                                "level10": "Sutton Coldfield",
                                "level8": "Birmingham",
                                "level5": "West Midlands Combined Authority",
                                "level4": "England"
                            }
                        }
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -1.815784965131578,
                            52.54867955
                        ]
                    }
                }
            ]
        }
    ReverseOutputXml:
      type: object
      properties:
        timestamp:
          type: string
          format: datetime
          xml:
            attribute: true
        querystring:
          type: string
          xml:
            attribute: true
        attribution:
          type: string
          xml:
            attribute: true
        result:
          allOf:
            - type: string
            - type: object
              properties:
                place_id:
                  type: number
                  xml:
                    attribute: true
                osm_type:
                  type: string
                  xml:
                    attribute: true
                osm_id:
                  type: number
                  xml:
                    attribute: true
                lat:
                  type: number
                  format: float
                  xml:
                    attribute: true
                lon:
                  type: number
                  format: float
                  xml:
                    attribute: true
                boundingbox:
                  type: string
                  xml:
                    attribute: true
                place_rank:
                  type: number
                  xml:
                    attribute: true
                address_rank:
                  type: number
                  xml:
                    attribute: true
        addressparts:
          type: object
          properties:
            house_number:
              type: string
            road:
              type: string
            village:
              type: string
            town:
              type: string
            city:
              type: string
            county:
              type: string
            postcode:
              type: string
            country:
              type: string
            country_code:
              type: string
      xml:
        name: 'reversegeocode'
      example: |
        <reversegeocode timestamp="Sat, 20 Jul 2024 04:06:44 +00:00" attribution="Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright" querystring="lat=52.5487429714954&lon=-1.81602098644987&format=xml&zoom=18">
          <result place_id="241931941" osm_type="way" osm_id="88378435" lat="52.5486796" lon="-1.8157850" boundingbox="52.5485735,52.5487962,-1.8161646,-1.8154131" place_rank="30" address_rank="30">Pilkington Avenue, Maney, Sutton Coldfield, Birmingham, West Midlands Combined Authority, England, B72 1LH, United Kingdom</result>
          <addressparts>
            <road>Pilkington Avenue</road>
            <hamlet>Maney</hamlet>
            <town>Sutton Coldfield</town>
            <city>Birmingham</city>
            <ISO3166-2-lvl8>GB-BIR</ISO3166-2-lvl8>
            <state_district>West Midlands Combined Authority</state_district>
            <state>England</state>
            <ISO3166-2-lvl4>GB-ENG</ISO3166-2-lvl4>
            <postcode>B72 1LH</postcode>
            <country>United Kingdom</country>
            <country_code>gb</country_code>
          </addressparts>
        </reversegeocode>
security: [ ]
tags: [ ]
externalDocs:
  url: "https://nominatim.org/release-docs/develop/api/"