openapi: 3.1.1

info:
  title: "Open-Meteo Open API Spec"
  summary: "A custom Open-Meteo OpenAPI specification written by hand based of the api docs as of 2024-05-26"
  description: ""
  termsOfService: ""
  contact:
    name: "Blake Rogan"
    url: "https://github.com/Cethric"
    email: "blake.rogan@outlook.com"
  license:
    name: "MIT"
    identifier: "MIT"
  version: "1.0.0"

#$schema: "https://json-schema.org/draft/2020-12/schema"

servers:
  - url: "https://api.open-meteo.com"
    description: "Production Server"
  - url: "http://127.0.0.1:8080"
    description: "Development Server"

paths:
  "/v1/forecast":
    get:
      description: "Retrieve the forecast"
      parameters:
        - name: latitude
          in: query
          required: true
          description: "Geographical WGS84 coordinates of the location. Multiple coordinates are not supported"
          schema:
            type: number
            format: float
        - name: longitude
          in: query
          required: true
          description: "Geographical WGS84 coordinates of the location. Multiple coordinates are not supported"
          schema:
            type: number
            format: float
        - name: elevation
          in: query
          required: false
          description: "The elevation used for statistical downscaling. Per default, a 90 meter digital elevation model is used. You can manually set the elevation to correctly match mountain peaks. If &elevation=nan is specified, downscaling will be disabled and the API uses the average grid-cell height"
          schema:
            $ref: "#/components/schemas/ElevationParameter"
        - name: hourly
          in: query
          required: false
          description: "A list of weather variables which should be returned. Values can be comma separated, or multiple &hourly= parameter in the URL can be used."
          explode: true
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: "#/components/schemas/HourlyParameter"
        - name: daily
          in: query
          required: false
          description: "A list of daily weather variable aggregations which should be returned. Values can be comma separated, or multiple &daily= parameter in the URL can be used. If daily weather variables are specified, parameter timezone is required."
          explode: true
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: "#/components/schemas/DailyParameter"
        - name: current
          in: query
          required: false
          description: "A list of weather variables to get current conditions."
          explode: true
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: "#/components/schemas/CurrentParameter"
        - name: temperature_unit
          in: query
          required: false
          description: "If `fahrenheit` is set, all temperature values are converted to Fahrenheit."
          schema:
            $ref: "#/components/schemas/TemperatureUnit"
        - name: wind_speed_unit
          in: query
          required: false
          description: "Other wind speed speed units: `ms`, `mph` and `kn`"
          schema:
            $ref: "#/components/schemas/SpeedUnit"
        - name: precipitation_unit
          in: query
          required: false
          description: "Other precipitation amount units: `inch`"
          schema:
            $ref: "#/components/schemas/DistanceUnit"
        - name: timeformat
          in: query
          required: false
          description: "If format `unixtime` is selected, all time values are returned in UNIX epoch time in seconds. Please note that all timestamp are in GMT+0! For daily values with unix timestamps, please apply `utc_offset_seconds` again to get the correct date."
          schema:
            $ref: "#/components/schemas/TimeFormat"
        - name: timezone
          in: query
          required: false
          description: "If timezone is set, all timestamps are returned as local-time and data is returned starting at 00:00 local-time. Any time zone name from the time zone database is supported. If auto is set as a time zone, the coordinates will be automatically resolved to the local time zone. For multiple coordinates, a comma separated list of timezones can be specified."
          schema:
            type: string
        - name: past_days
          in: query
          required: false
          description: "If `past_days` is set, yesterday or the day before yesterday data are also returned."
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 92
        - name: forecast_days
          in: query
          required: false
          description: "Per default, only 7 days are returned. Up to 16 days of forecast are possible."
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 16
        - name: forecast_hours
          in: query
          required: false
          description: "Similar to `forecast_days`, the number of timesteps of hourly data controlled. Instead of using the current day as a reference, the current hour time-step is used."
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: forecast_minutely_15
          in: query
          required: false
          description: "Similar to `forecast_days`, the number of timesteps of 15-minutely data controlled. Instead of using the current day as a reference, the current 15-minutely time-step is used."
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: past_hours
          in: query
          required: false
          description: "Similar to `forecast_days`, the number of timesteps of hourly data controlled. Instead of using the current day as a reference, the current hour time-step is used."
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: past_minutely_15
          in: query
          required: false
          description: "Similar to `forecast_days`, the number of timesteps of 15-minutely data controlled. Instead of using the current day as a reference, the current 15-minutely time-step is used."
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_date
          in: query
          required: false
          description: "The time interval to get weather data. A day must be specified as an ISO8601 date (e.g. 2022-06-30)."
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: false
          description: "The time interval to get weather data. A day must be specified as an ISO8601 date (e.g. 2022-06-30)."
          schema:
            type: string
            format: date
        - name: start_hour
          in: query
          required: false
          description: "The time interval to get weather data for hourly data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
          schema:
            type: string
            format: date-time
        - name: end_hour
          in: query
          required: false
          description: "The time interval to get weather data for hourly data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
          schema:
            type: string
            format: date-time
        - name: start_minutely_15
          in: query
          required: false
          description: "The time interval to get weather data for 15 minutely data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
          schema:
            type: string
            format: date-time
        - name: end_minutely_15
          in: query
          required: false
          description: "The time interval to get weather data for 15 minutely data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
          schema:
            type: string
            format: date-time
        - name: models
          in: query
          required: false
          description: "Manually select one or more weather models. Per default, the best suitable weather models will be combined."
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WeatherModels"
        - name: cell_selection
          in: query
          required: false
          description: ""
          schema:
            $ref: "#/components/schemas/CellSelection"
        - name: apikey
          in: query
          required: false
          description: ""
          schema:
            type: string
            format: password

      responses:
        200:
          description: "Successfully retrieve the current forecast"
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/WeatherForecastResponse"
        default:
          description: "Anything other than success is an error"
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/ErrorResponse"

webhooks: {}
components:
  schemas:
    ElevationParameter:
      type: number
      format: float

    HourlyParameter:
      type: string
      enum:
        [
          "temperature_2m",
          "relative_humidity_2m",
          "dew_point_2m",
          "apparent_temperature",
          "pressure_msl",
          "surface_pressure",
          "cloud_cover",
          "cloud_cover_low",
          "cloud_cover_mid",
          "cloud_cover_high",
          "wind_speed_10m",
          "wind_speed_80m",
          "wind_speed_120m",
          "wind_speed_180m",
          "wind_direction_10m",
          "wind_direction_80m",
          "wind_direction_120m",
          "wind_direction_180m",
          "wind_gusts_10m",
          "shortwave_radiation",
          "direct_radiation",
          "direct_normal_irradiance",
          "diffuse_radiation",
          "global_tilted_irradiance",
          "vapour_pressure_deficit",
          "cape",
          "evapotranspiration",
          "et0_fao_evapotranspiration",
          "precipitation",
          "snowfall",
          "precipitation_probability",
          "rain",
          "showers",
          "weather_code",
          "snow_depth",
          "freezing_level_height",
          "visibility",
          "soil_temperature_0cm",
          "soil_temperature_6cm",
          "soil_temperature_18cm",
          "soil_temperature_54cm",
          "soil_moisture_0_to_1cm",
          "soil_moisture_1_to_3cm",
          "soil_moisture_3_to_9cm",
          "soil_moisture_9_to_27cm",
          "soil_moisture_27_to_81cm",
          "is_day",
        ]

    DailyParameter:
      type: string
      enum:
        [
          "temperature_2m_max",
          "temperature_2m_min",
          "apparent_temperature_max",
          "apparent_temperature_min",
          "precipitation_sum",
          "rain_sum",
          "showers_sum",
          "snowfall_sum",
          "precipitation_hours",
          "precipitation_probability_max",
          "precipitation_probability_min",
          "precipitation_probability_mean",
          "weather_code",
          "sunrise",
          "sunset",
          "sunshine_duration",
          "daylight_duration",
          "wind_speed_10m_max",
          "wind_gusts_10m_max",
          "wind_direction_10m_dominant",
          "shortwave_radiation_sum",
          "et0_fao_evapotranspiration",
          "uv_index_max",
          "uv_index_clear_sky_max",
        ]

    CurrentParameter:
      type: string
      enum:
        [
          "temperature_2m",
          "relative_humidity_2m",
          "dew_point_2m",
          "apparent_temperature",
          "shortwave_radiation",
          "direct_radiation",
          "direct_normal_irradiance",
          "global_tilted_irradiance",
          "global_tilted_irradiance_instant",
          "diffuse_radiation",
          "sunshine_duration",
          "lightning_potential",
          "precipitation",
          "snowfall",
          "rain",
          "showers",
          "snowfall_height",
          "freezing_level_height",
          "cape",
          "wind_speed_10m",
          "wind_speed_80m",
          "wind_direction_10m",
          "wind_direction_80m",
          "wind_gusts_10m",
          "visibility",
          "weather_code",
        ]

    TemperatureUnit:
      type: string
      enum: ["celsius", "fahrenheit"]

    TemperatureUnitResponse:
      type: string
    #      enum: [
    #        "°C", "°F"
    #      ]

    PressureUnit:
      type: string
      enum: ["hPa", "kPa"]

    EnergyUnit:
      type: string
    #      enum: [
    #        "J/kg", "MJ/m²"
    #      ]

    RadiationUnit:
      type: string
    #      enum: [
    #        "W/m²"
    #      ]

    SpeedUnit:
      type: string
    #      enum: [
    #        "km/h", "m/s", "mp/h", "kn"
    #      ]

    DistanceUnit:
      type: string
      enum: ["mm", "cm", "m", "meters", "inch"]

    MoistureUnit:
      type: string
    #      enum: [
    #        "m³/m³"
    #      ]

    ProbabilityUnit:
      type: string
    #      enum: [
    #        "%"
    #      ]

    DirectionUnit:
      type: string
    #      enum: [
    #        "°"
    #      ]

    WeatherCodeUnit:
      type: string
    #      enum: [
    #        "wmo code"
    #      ]

    TimeUnit:
      type: string
      enum: ["hours", "seconds", "h", "s", "m"]

    TimeFormat:
      type: string
      enum: ["iso8601", "unixtime"]

    WeatherModels:
      type: string
      enum:
        [
          "auto",
          "best_match",
          "ecmwf_ifs04",
          "ecmwf_ifs025",
          "ecmwf_aifs025",
          "cma_grapes_global",
          "bom_access_global",
          "metno_nordic",
          "gfs_seamless",
          "gfs_global",
          "gfs_hrrr",
          "gfs_graphcast025",
          "jma_seamless",
          "jma_msm",
          "jma_gsm",
          "icon_seamless",
          "icon_global",
          "icon_eu",
          "icon_d2",
          "gem_seamless",
          "gem_global",
          "gem_regional",
          "gem_hrdps_continental",
          "meteofrance_seamless",
          "meteofrance_arpege_world",
          "meteofrance_arpege_europe",
          "meteofrance_arome_france",
          "meteofrance_arome_france_hd",
          "arpae_cosmo_seamless",
          "arpae_cosmo_2i",
          "arpae_cosmo_2i_ruc",
          "arpae_cosmo_5m",
        ]

    CellSelection:
      type: string
      enum: ["land", "sea", "nearest"]

    WeatherForecastResponse:
      type: object
      properties:
        latitude:
          description: "WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be a few kilometers away from the requested coordinate."
          type: number
          format: float
        longitude:
          description: "WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be a few kilometers away from the requested coordinate."
          type: number
          format: float
        elevation:
          description: "The elevation from a 90 meter digital elevation model. This effects which grid-cell is selected (see parameter `cell_selection`). Statistical downscaling is used to adapt weather conditions for this elevation. This elevation can also be controlled with the query parameter elevation. If &elevation=nan is specified, all downscaling is disabled and the averge grid-cell elevation is used."
          type: number
          format: float
        generationTime_ms:
          description: "Generation time of the weather forecast in milliseconds. This is mainly used for performance monitoring and improvements."
          type: number
          format: float
        utc_offset_seconds:
          description: "Applied timezone offset from the `&timezone=` parameter."
          type: integer
          format: int64
        timezone:
          description: "Timezone identifier (e.g. Europe/Berlin)"
          type: string
        timezone_abbreviation:
          description: "Timezone abbreviation (e.g. CEST)"
          type: string
        hourly:
          $ref: "#/components/schemas/HourlyResponse"
        hourly_units:
          #          type: object
          $ref: "#/components/schemas/HourlyUnitsResponse"
        daily:
          $ref: "#/components/schemas/DailyResponse"
        daily_units:
          $ref: "#/components/schemas/DailyUnitsResponse"
        current:
          $ref: "#/components/schemas/CurrentResponse"
        current_units:
          $ref: "#/components/schemas/CurrentUnitsResponse"
      required:
        - latitude
        - longitude
        - elevation
        - generationTime_ms
        - utc_offset_seconds
        - timezone
        - timezone_abbreviation

    HourlyResponse:
      description: "For each selected weather variable, data will be returned as a floating point array. Additionally a time array will be returned with ISO8601 timestamps."
      type: object
      properties:
        time:
          type: array
          items:
            type: string
            format: date-time
        temperature_2m:
          type: array
          items:
            type: number
            format: float
        relative_humidity_2m:
          type: array
          items:
            type: number
            format: float
        dew_point_2m:
          type: array
          items:
            type: number
            format: float
        apparent_temperature:
          type: array
          items:
            type: number
            format: float
        pressure_msl:
          type: array
          items:
            type: number
            format: float
        surface_pressure:
          type: array
          items:
            type: number
            format: float
        cloud_cover:
          type: array
          items:
            type: number
            format: float
        cloud_cover_low:
          type: array
          items:
            type: number
            format: float
        cloud_cover_mid:
          type: array
          items:
            type: number
            format: float
        cloud_cover_high:
          type: array
          items:
            type: number
            format: float
        wind_speed_10m:
          type: array
          items:
            type: number
            format: float
        wind_speed_80m:
          type: array
          items:
            type: number
            format: float
        wind_speed_120m:
          type: array
          items:
            type: number
            format: float
        wind_speed_180m:
          type: array
          items:
            type: number
            format: float
        wind_direction_10m:
          type: array
          items:
            type: number
            format: float
        wind_direction_80m:
          type: array
          items:
            type: number
            format: float
        wind_direction_120m:
          type: array
          items:
            type: number
            format: float
        wind_direction_180m:
          type: array
          items:
            type: number
            format: float
        wind_gusts_10m:
          type: array
          items:
            type: number
            format: float
        shortwave_radiation:
          type: array
          items:
            type: number
            format: float
        direct_radiation:
          type: array
          items:
            type: number
            format: float
        direct_normal_irradiance:
          type: array
          items:
            type: number
            format: float
        diffuse_radiation:
          type: array
          items:
            type: number
            format: float
        global_tilted_irradiance:
          type: array
          items:
            type: number
            format: float
        vapour_pressure_deficit:
          type: array
          items:
            type: number
            format: float
        cape:
          type: array
          items:
            type: number
            format: float
        evapotranspiration:
          type: array
          items:
            type: number
            format: float
        et0_fao_evapotranspiration:
          type: array
          items:
            type: number
            format: float
        precipitation:
          type: array
          items:
            type: number
            format: float
        snowfall:
          type: array
          items:
            type: number
            format: float
        precipitation_probability:
          type: array
          items:
            type: number
            format: float
        rain:
          type: array
          items:
            type: number
            format: float
        showers:
          type: array
          items:
            type: number
            format: float
        weather_code:
          type: array
          items:
            type: number
            format: float
        snow_depth:
          type: array
          items:
            type: number
            format: float
        freezing_level_height:
          type: array
          items:
            type: number
            format: float
        visibility:
          type: array
          items:
            type: number
            format: float
        soil_temperature_0cm:
          type: array
          items:
            type: number
            format: float
        soil_temperature_6cm:
          type: array
          items:
            type: number
            format: float
        soil_temperature_18cm:
          type: array
          items:
            type: number
            format: float
        soil_temperature_54cm:
          type: array
          items:
            type: number
            format: float
        soil_moisture_0_to_1cm:
          type: array
          items:
            type: number
            format: float
        soil_moisture_1_to_3cm:
          type: array
          items:
            type: number
            format: float
        soil_moisture_3_to_9cm:
          type: array
          items:
            type: number
            format: float
        soil_moisture_9_to_27cm:
          type: array
          items:
            type: number
            format: float
        soil_moisture_27_to_81cm:
          type: array
          items:
            type: number
            format: float
        is_day:
          type: array
          items:
            type: integer
            format: int32
      required:
        - time

    HourlyUnitsResponse:
      description: "For each selected weather variable, the unit will be listed here."
      type: object
      properties:
        time:
          $ref: "#/components/schemas/TimeFormat"
        temperature_2m:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        relative_humidity_2m:
          $ref: "#/components/schemas/ProbabilityUnit"
        dew_point_2m:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        apparent_temperature:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        pressure_msl:
          $ref: "#/components/schemas/PressureUnit"
        surface_pressure:
          $ref: "#/components/schemas/PressureUnit"
        cloud_cover:
          $ref: "#/components/schemas/ProbabilityUnit"
        cloud_cover_low:
          $ref: "#/components/schemas/ProbabilityUnit"
        cloud_cover_mid:
          $ref: "#/components/schemas/ProbabilityUnit"
        cloud_cover_high:
          $ref: "#/components/schemas/ProbabilityUnit"
        wind_speed_10m:
          $ref: "#/components/schemas/SpeedUnit"
        wind_speed_80m:
          $ref: "#/components/schemas/SpeedUnit"
        wind_speed_120m:
          $ref: "#/components/schemas/SpeedUnit"
        wind_speed_180m:
          $ref: "#/components/schemas/SpeedUnit"
        wind_direction_10m:
          $ref: "#/components/schemas/DirectionUnit"
        wind_direction_80m:
          $ref: "#/components/schemas/DirectionUnit"
        wind_direction_120m:
          $ref: "#/components/schemas/DirectionUnit"
        wind_direction_180m:
          $ref: "#/components/schemas/DirectionUnit"
        wind_gusts_10m:
          $ref: "#/components/schemas/SpeedUnit"
        shortwave_radiation:
          $ref: "#/components/schemas/RadiationUnit"
        direct_radiation:
          $ref: "#/components/schemas/RadiationUnit"
        direct_normal_irradiance:
          $ref: "#/components/schemas/RadiationUnit"
        diffuse_radiation:
          $ref: "#/components/schemas/RadiationUnit"
        global_tilted_irradiance:
          $ref: "#/components/schemas/RadiationUnit"
        vapour_pressure_deficit:
          $ref: "#/components/schemas/PressureUnit"
        cape:
          $ref: "#/components/schemas/EnergyUnit"
        evapotranspiration:
          $ref: "#/components/schemas/DistanceUnit"
        et0_fao_evapotranspiration:
          $ref: "#/components/schemas/DistanceUnit"
        precipitation:
          $ref: "#/components/schemas/DistanceUnit"
        snowfall:
          $ref: "#/components/schemas/DistanceUnit"
        precipitation_probability:
          $ref: "#/components/schemas/ProbabilityUnit"
        rain:
          $ref: "#/components/schemas/DistanceUnit"
        showers:
          $ref: "#/components/schemas/DistanceUnit"
        weather_code:
          $ref: "#/components/schemas/WeatherCodeUnit"
        snow_depth:
          $ref: "#/components/schemas/DistanceUnit"
        freezing_level_height:
          $ref: "#/components/schemas/DistanceUnit"
        visibility:
          $ref: "#/components/schemas/DistanceUnit"
        soil_temperature_0cm:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        soil_temperature_6cm:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        soil_temperature_18cm:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        soil_temperature_54cm:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        soil_moisture_0_to_1cm:
          $ref: "#/components/schemas/MoistureUnit"
        soil_moisture_1_to_3cm:
          $ref: "#/components/schemas/MoistureUnit"
        soil_moisture_3_to_9cm:
          $ref: "#/components/schemas/MoistureUnit"
        soil_moisture_9_to_27cm:
          $ref: "#/components/schemas/MoistureUnit"
        soil_moisture_27_to_81cm:
          $ref: "#/components/schemas/MoistureUnit"
        is_day:
          type: string
      required:
        - time

    DailyResponse:
      description: "For each selected daily weather variable, data will be returned as a floating point array. Additionally a time array will be returned with ISO8601 timestamps."
      type: object
      properties:
        time:
          type: array
          items:
            type: string
            format: date
        temperature_2m_max:
          type: array
          items:
            type: number
            format: float
        temperature_2m_min:
          type: array
          items:
            type: number
            format: float
        apparent_temperature_max:
          type: array
          items:
            type: number
            format: float
        apparent_temperature_min:
          type: array
          items:
            type: number
            format: float
        precipitation_sum:
          type: array
          items:
            type: number
            format: float
        rain_sum:
          type: array
          items:
            type: number
            format: float
        showers_sum:
          type: array
          items:
            type: number
            format: float
        snowfall_sum:
          type: array
          items:
            type: number
            format: float
        precipitation_hours:
          type: array
          items:
            type: number
            format: float
        precipitation_probability_max:
          type: array
          items:
            type: number
            format: float
        precipitation_probability_min:
          type: array
          items:
            type: number
            format: float
        precipitation_probability_mean:
          type: array
          items:
            type: number
            format: float
        weather_code:
          type: array
          items:
            $ref: "#/components/schemas/WmoWeatherCode"
        sunrise:
          type: array
          items:
            type: string
            format: date-time
        sunset:
          type: array
          items:
            type: string
            format: date-time
        sunshine_duration:
          type: array
          items:
            type: number
            format: float
        daylight_duration:
          type: array
          items:
            type: number
            format: float
        wind_speed_10m_max:
          type: array
          items:
            type: number
            format: float
        wind_gusts_10m_max:
          type: array
          items:
            type: number
            format: float
        wind_direction_10m_dominant:
          type: array
          items:
            type: number
            format: float
        shortwave_radiation_sum:
          type: array
          items:
            type: number
            format: float
        et0_fao_evapotranspiration:
          type: array
          items:
            type: number
            format: float
        uv_index_max:
          type: array
          items:
            type: number
            format: float
        uv_index_clear_sky_max:
          type: array
          items:
            type: number
            format: float
      required:
        - time

    DailyUnitsResponse:
      description: "For each selected daily weather variable, the unit will be listed here."
      type: object
      properties:
        time:
          $ref: "#/components/schemas/TimeFormat"
        temperature_2m_max:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        temperature_2m_min:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        apparent_temperature_max:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        apparent_temperature_min:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        precipitation_sum:
          $ref: "#/components/schemas/DistanceUnit"
        rain_sum:
          $ref: "#/components/schemas/DistanceUnit"
        showers_sum:
          $ref: "#/components/schemas/DistanceUnit"
        snowfall_sum:
          $ref: "#/components/schemas/DistanceUnit"
        precipitation_hours:
          $ref: "#/components/schemas/TimeUnit"
        precipitation_probability_max:
          $ref: "#/components/schemas/ProbabilityUnit"
        precipitation_probability_min:
          $ref: "#/components/schemas/ProbabilityUnit"
        precipitation_probability_mean:
          $ref: "#/components/schemas/ProbabilityUnit"
        weather_code:
          $ref: "#/components/schemas/WeatherCodeUnit"
        sunrise:
          $ref: "#/components/schemas/TimeFormat"
        sunset:
          $ref: "#/components/schemas/TimeFormat"
        sunshine_duration:
          $ref: "#/components/schemas/TimeUnit"
        daylight_duration:
          $ref: "#/components/schemas/TimeUnit"
        wind_speed_10m_max:
          $ref: "#/components/schemas/SpeedUnit"
        wind_gusts_10m_max:
          $ref: "#/components/schemas/SpeedUnit"
        wind_direction_10m_dominant:
          $ref: "#/components/schemas/DirectionUnit"
        shortwave_radiation_sum:
          $ref: "#/components/schemas/EnergyUnit"
        et0_fao_evapotranspiration:
          $ref: "#/components/schemas/DistanceUnit"
        uv_index_max:
          $ref: "#/components/schemas/WmoIndex"
        uv_index_clear_sky_max:
          $ref: "#/components/schemas/WmoIndex"
      required:
        - time

    CurrentResponse:
      description: "For each selected daily weather variable, data will be returned as a floating point array. Additionally a time array will be returned with ISO8601 timestamps."
      type: object
      properties:
        time:
          type: string
          format: date-time
        temperature_2m:
          type: number
          format: float
        relative_humidity_2m:
          type: number
          format: float
        dew_point_2m:
          type: number
          format: float
        apparent_temperature:
          type: number
          format: float
        shortwave_radiation:
          type: number
          format: float
        direct_radiation:
          type: number
          format: float
        direct_normal_irradiance:
          type: number
          format: float
        global_tilted_irradiance:
          type: number
          format: float
        global_tilted_irradiance_instant:
          type: number
          format: float
        diffuse_radiation:
          type: number
          format: float
        sunshine_duration:
          type: number
          format: float
        lightning_potential:
          type: number
          format: float
        precipitation:
          type: number
          format: float
        snowfall:
          type: number
          format: float
        rain:
          type: number
          format: float
        showers:
          type: number
          format: float
        snowfall_height:
          type: number
          format: float
        freezing_level_height:
          type: number
          format: float
        cape:
          type: number
          format: float
        wind_speed_10m:
          type: number
          format: float
        wind_speed_80m:
          type: number
          format: float
        wind_direction_10m:
          type: number
          format: float
        wind_direction_80m:
          type: number
          format: float
        wind_gusts_10m:
          type: number
          format: float
        visibility:
          type: number
          format: float
        weather_code:
          $ref: "#/components/schemas/WmoWeatherCode"
      required:
        - time

    CurrentUnitsResponse:
      description: "For each selected current weather variable, the unit will be listed here."
      type: object
      properties:
        time:
          $ref: "#/components/schemas/TimeFormat"
        temperature_2m:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        relative_humidity_2m:
          $ref: "#/components/schemas/ProbabilityUnit"
        dew_point_2m:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        apparent_temperature:
          $ref: "#/components/schemas/TemperatureUnitResponse"
        shortwave_radiation:
          $ref: "#/components/schemas/RadiationUnit"
        direct_radiation:
          $ref: "#/components/schemas/RadiationUnit"
        direct_normal_irradiance:
          $ref: "#/components/schemas/RadiationUnit"
        global_tilted_irradiance:
          $ref: "#/components/schemas/RadiationUnit"
        global_tilted_irradiance_instant:
          $ref: "#/components/schemas/RadiationUnit"
        diffuse_radiation:
          $ref: "#/components/schemas/RadiationUnit"
        sunshine_duration:
          $ref: "#/components/schemas/TimeUnit"
        lightning_potential:
          $ref: "#/components/schemas/EnergyUnit"
        precipitation:
          $ref: "#/components/schemas/DistanceUnit"
        snowfall:
          $ref: "#/components/schemas/DistanceUnit"
        rain:
          $ref: "#/components/schemas/DistanceUnit"
        showers:
          $ref: "#/components/schemas/DistanceUnit"
        snowfall_height:
          $ref: "#/components/schemas/DistanceUnit"
        freezing_level_height:
          $ref: "#/components/schemas/DistanceUnit"
        cape:
          $ref: "#/components/schemas/EnergyUnit"
        wind_speed_10m:
          $ref: "#/components/schemas/SpeedUnit"
        wind_speed_80m:
          $ref: "#/components/schemas/SpeedUnit"
        wind_direction_10m:
          $ref: "#/components/schemas/DirectionUnit"
        wind_direction_80m:
          $ref: "#/components/schemas/DirectionUnit"
        wind_gusts_10m:
          $ref: "#/components/schemas/SpeedUnit"
        visibility:
          $ref: "#/components/schemas/DistanceUnit"
        weather_code:
          $ref: "#/components/schemas/WeatherCodeUnit"
      required:
        - time

    ErrorResponse:
      type: object
      properties:
        error:
          type: boolean
        reason:
          type: string
      required:
        - error
        - reason

    WmoWeatherCode:
      type: integer
      format: int64
      enum:
        [
          0,
          1,
          2,
          3,
          45,
          48,
          51,
          53,
          55,
          56,
          57,
          61,
          63,
          65,
          66,
          67,
          71,
          73,
          75,
          77,
          80,
          81,
          82,
          85,
          86,
          95,
          96,
          99,
        ]

    WmoIndex:
      type: string

security: []
tags: []
externalDocs:
  url: ""
